#!/usr/bin/env nextflow
/*
By Avery Davis Bell
Config for: emasemultsamples.nf, workflow that runs emase
*/
conda.enabled = true // needed for new nextflow versions

process{
  // all processes:
  executor = 'slurm' // running all jobs through submission; different queues, memory, etc
  // this is UGLY because PACE slurm doesn't play super well with nextflow built ins
  // queue = 'inferno' // same for all jobs
  // clusterOptions = '-A GT-apaaby3' // same account all jobs; careful if end up specifying more clusterOptions at once (currently it doesn't work to specify more clusterOptions at once)

  withName: mergeLaneFastqs{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=1G -t10'
  }

  withName: trimmoIlluminaAdapters{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=5G -t30 -N1 -n4' // not working to specify as cpus= for PACE
  }

  withName: trimmoIlluminaAdaptersPE{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=5G -t120 -N1 -n4'
  }

  withName: salmonquantSE{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=4G -t120 -N1 -n4'
    cpus = 4
  }

  withName: salmonquantPE{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=4G -t12:00:00 -N1 -n4'
  }

  withName: alntoolssalm2ec{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=16G -t120'
  }

  withName: emasezerosalm{
    module = 'gcc-compatibility/10.3.0'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=4G -t120'
  }

  withName: salmonalleleeqclasses{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t60'
  }

  withName: eqclassalnmtsummary{
    module = 'r/4.2.1-tidy'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t30'
  }
}
