#!/usr/bin/env nextflow
/*
By Avery Davis Bell
Config for: mosdepthmergedexons.nf
*/

process{
  // all processes:
  executor = 'slurm' // running all jobs through submission; different queues, memory, etc
  // queue = 'inferno' // same for all jobs
  // clusterOptions = '-A GT-apaaby3' // same account all jobs; careful if end up specifying more clusterOptions at once (currently it doesn't work to specify more clusterOptions at once)

  withName: gtf2mergedexonbed{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=1G'
    time = '10m'
  }

  withName: mosdepth{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=2G'
    cpus = 4
    time = '1h'
  }

  withName: combinedpbeds{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=1G'
    time = '10m'
  }

  withName: combinedpsumms{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=1G'
    time = '10m'
  }

  withName: comboexonsexplore{
    module = 'r/4.2.1-tidy'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=16G -t120'
    //time = '1h'
  }

  withName: comboexonsexploresubset{
    module = 'r/4.2.1-tidy'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=16G -t120'
    // time = '1h'
  }
}
