#!/usr/bin/env nextflow
/*
By Avery Davis Bell
Config for: ornaments-elegans.nf
*/
conda.enabled = true // needed for newer nextflow versions
process{
  // all processes:
  executor = 'slurm'

  withName: makevcf{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=4G -t60'
  }

  withName: transcriptomicvcf{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t360'
  }

  withName: ornamentpersonalized{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t360'
  }

  withName: ornamentsindex{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t360'
  }

  withName: diptranscriptome{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t120'
  }

  withName: straintranscriptome{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t120'
  }

  withName: kallistoindex{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=4G -t360 -N1 -n4'
  }

  withName: kallistodipindex{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=4G -t360 -N1 -n4'
  }

  withName: trimmoIlluminaAdaptersPE{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=5G -t120 -N1 -n4'
  }

  withName: ornamentsquant{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t360'
  }

  withName: kallistoquant{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=4G -t120 -N1 -n4'
  }

  withName: kallistodipquant{
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=4G -t120 -N1 -n4'
  }

  withName: ornamentsinitplots{
    module = 'r/4.2.1-tidy'
    clusterOptions = '-A gts-apaaby3 --mem-per-cpu=8G -t120'
  }
}
